In [1]:
import pandas as pd

In [2]:
from sklearn.linear_model import LogisticRegression

In [3]:
logisticRegr = LogisticRegression()

In [4]:
dftrain=pd.read_csv('finaltrain.csv')

In [5]:
dftrain

,Unnamed: 0,Female,Male,Not_Married,Married,No_Dependent,1_Dependent,2_Dependents,3+_Dependents,Graduate,...,Not_Self_Employed,Self_Employed,Rural,Semiurban,Urban,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0,0,1,1,0,1,0,0,0,1,...,1,0,0,0,1,5849,0.0,146.412162,360.0,1.0
1,1,0,1,0,1,0,1,0,0,1,...,1,0,1,0,0,4583,1508.0,128.000000,360.0,1.0
2,2,0,1,0,1,1,0,0,0,1,...,0,1,0,0,1,3000,0.0,66.000000,360.0,1.0
3,3,0,1,0,1,1,0,0,0,0,...,1,0,0,0,1,2583,2358.0,120.000000,360.0,1.0
4,4,0,1,1,0,1,0,0,0,1,...,1,0,0,0,1,6000,0.0,141.000000,360.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,549,1,0,1,0,1,0,0,0,1,...,1,0,1,0,0,2900,0.0,71.000000,360.0,1.0
550,550,0,1,0,1,0,0,0,1,1,...,1,0,1,0,0,4106,0.0,40.000000,180.0,1.0
551,551,0,1,0,1,0,1,0,0,1,...,1,0,0,0,1,8072,240.0,253.000000,360.0,1.0
552,552,0,1,0,1,0,0,1,0,1,...,1,0,0,0,1,7583,0.0,187.000000,360.0,1.0
553,553,1,0,1,0,1,0,0,0,1,...,0,1,0,1,0,4583,0.0,133.000000,360.0,0.0